<div class="content">
   <div class="search-wrapper">
      <nz-collapse nzGhost nzExpandIconPosition="right">
         <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
            <div nz-row [nzGutter]="16">
               <div nz-col nzSpan="2"><label>PO No:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>

               <div nz-col nzSpan="2"><label>PO Type:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>

               <div nz-col nzSpan="2"><label>Style:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>

               <div nz-col nzSpan="2"><label>Inspector:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>
             </div>

             <div nz-row [nzGutter]="16">
               <div nz-col nzSpan="2"><label>X-Factory Date:</label></div>
               <div nz-col nzSpan="4">
                  <nz-date-picker></nz-date-picker>
               </div>

               <div nz-col nzSpan="2"><label>Time:</label></div>
               <div nz-col nzSpan="4">
                  <nz-time-picker></nz-time-picker>
               </div>

               <div nz-col nzSpan="2"><label>Factory Name:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>

               <div nz-col nzSpan="2"><label>Factory Destination:</label></div>
               <div nz-col nzSpan="4">
                  <nz-select ngModel="lucy">
                     <nz-option nzValue="1" nzLabel="Option 1"></nz-option>
                     <nz-option nzValue="2" nzLabel="Option 2"></nz-option>
                     <nz-option nzValue="3" nzLabel="Option 3" nzDisabled></nz-option>
                   </nz-select>
               </div>
             </div>

             <div nz-row [nzGutter]="16">
               <div nz-col nzSpan="4">
                  <label nz-checkbox>Inspections Assigned to Me</label>
               </div>

               <div nz-col nzSpan="4">
                  <label nz-checkbox>Approval Pending</label>
               </div>

               <nz-col nzSpan="16">
                  <div nz-row nzJustify="end">
                     <nz-space>
                        <nz-space-item>
                          <button nz-button nzType="default">Clear</button>
                        </nz-space-item>
                        <nz-space-item>
                          <button nz-button nzType="primary">Add New PO</button>
                        </nz-space-item>
                        <button nz-button nzType="primary">Search</button>
                     </nz-space>
                  </div>
               </nz-col>
             </div>
         </nz-collapse-panel>
       </nz-collapse>
   </div>

   <div class="content-wrapper">
      <nz-row>
         <nz-col nzSpan="12">
            <div class="sub-header">Search Results</div>
         </nz-col>
         <nz-col nzSpan="12">
            <nz-row nzJustify="end">
               <button nz-button nzType="default"><i nz-icon nzType="export" nzTheme="outline"></i>Download to Excel</button>
            </nz-row>
         </nz-col>
      </nz-row>

      <nz-row>
         <nz-col nzSpan="24">
            <nz-table #basicTable>
               <thead>
                 <tr>
                   <th>PO ID</th>
                   <th>Style</th>
                   <th>Style Description</th>
                   <th>Factory Name</th>
                   <th>X-Factory Date</th>
                   <th>Destination</th>
                   <th>PO Type</th>
                   <th>Inspection Point</th>
                 </tr>
               </thead>
               <tbody>
               </tbody>
             </nz-table>
         </nz-col>
      </nz-row>
   </div>
</div>
